@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import "variables";
@import "typography";
@import "utilities";
@import "form";
@import "loading";
@import "button";
@import "tabs";
@import "card";
body {
  background-color: var(--gray-10) !important;
  height: 100vh;
  .page-wrapper {
    position: relative;
    main {
      padding-top: 1rem;
    }
  }
}
:where(html, body, h1, h2, h3, h4, h5, h6, span, label) {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}
.v-toast {
  z-index: 12500 !important;
}
